
var getDateTime = function (date){
  var year = date.substring(0, 4);
  var month = date.substring(5, 7);
  var day = date.substring(8, 10);
  var hour = date.substring(11, 13);
  var min = date.substring(14, 16);

  var nowDate = getDate();
  var nowYear = nowDate.getFullYear()+"";
  return year+"-"+month+"-"+day
  // if (nowYear == year){
  //   return month + '-' + day + ' ' + hour + ':' + min;
  // } else {
  //   return year + '-' + month + '-' + day + ' ' + hour + ':' + min;
  // }
}

var getDateTimeHaveSecends = function (date){
  var year = date.substring(0, 4);
  var month = date.substring(5, 7);
  var day = date.substring(8, 10);
  var hour = date.substring(11, 13);
  var min = date.substring(14, 16);
  var sec = date.substring(17, 19);
  var nowDate = getDate();
  var nowYear = nowDate.getFullYear()+"";
  if (nowYear == year){
    return month + '-' + day + ' ' + hour + ':' + min + ':' + sec;
  } else {
    return year + '-' + month + '-' + day + ' ' + hour + ':' + min + ':' + sec;
  }
  if (date.length > 19) {
    date = date.substring(0,19);
  } else {
    var reg = getRegExp("-", "g"); // 获取正则表达式，全局替换
    date = date.replace(reg, '/'); // 时间格式转换
  }
  var d = getDate(date);
  var month = (d.getMonth() + 1) < 10 ? '0' + (d.getMonth() + 1) : (d.getMonth() + 1);
  var day = d.getDate() < 10 ? '0' + d.getDate() : d.getDate();
  var hours = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
  var min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
   var sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds();
  var times = d.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + min +':'+sec;
  var year = d.getFullYear()+"";
  var nowDate = getDate();
  var nowYear = nowDate.getFullYear()+"";
  if (nowYear == year){
    times = month + '-' + day + ' ' + hours + ':' + min+ ':'+sec;
    return times;
  } else {
    return times;
  }
}
var getDateSubTime = function (date) {
  var d = getDate(date);
  var month = (d.getMonth() + 1) < 10 ? '0' + (d.getMonth() + 1) : (d.getMonth() + 1);
  var day = d.getDate() < 10 ? '0' + d.getDate() : d.getDate();
  var hours = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
  var min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
  var sec = d.getSeconds() < 10 ? '0' + d.getSeconds() : d.getSeconds();
  var times = d.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + min + ':' + sec;
  var d = times.substring(0,10);
  return d
}
var getReadCount = function(count){
  var number = parseFloat(count+"");
  if (number >= 10000){
    var d = number / 10000;
    d = d.toFixed(1);
    return d + "万";
  } else {
    var d = parseInt(number+"");
    return d;
  }
}
module.exports = {
  getDateTime: getDateTime,
  getDateSubTime: getDateSubTime,
  getDateTimeHaveSecends:getDateTimeHaveSecends,
  getReadCount:getReadCount
}